@import 'carbon-components/scss/globals/scss/theme.scss';

$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';
@import "@carbon/charts/styles/styles.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Header */
header.bx--header {
  .bx--form-item {
    .bx--date-picker-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      label {
        padding-right: $spacing-03;
        color: white;
        display: block;
        white-space: nowrap;
        margin-bottom: 0;
        margin-right: $spacing-03;
      }
      + .bx--date-picker-container {
        margin-left: $spacing-07;
      }
    }
  }
}

/* Start tiles */
.start-overview {
  h2 {
    margin-bottom: $spacing-07;
    margin-left: calc(#{$spacing-02} + #{$spacing-08});
  }
  .start-tiles {
    .bx--tile {
      margin-bottom: $spacing-07;
      h3 {
        margin-bottom: $spacing-05;
        padding-left: $spacing-07;
      }
      .bx--chart-holder {
        background-color: transparent;
      }
    }
  }
}