@import 'carbon-components/scss/globals/scss/styles.scss';
@import "@carbon/charts/styles/styles.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Start tiles */
.start-view {
  .start-tiles {
    .bx--tile {
      h2 {
        margin-bottom: 1rem;
        padding-left: 2rem;
      }
      .bx--chart-holder {
        background-color: transparent;
      }
    }
  }
}